<div class="container">
    <div class="jumbotron">
        Hello, it's news
        <a href="scrape" class="btn btn-primary" id="scrape-btn">Scrape Headlines</a href="scrape">
    </div>
    <div class="card">
        <div class="card-body">
            {{#if data}}
            <table class="table table-hover">
                <thead>
                    <th colspan="3">
                        Saved Articles
                    </th>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr id="{{_id}}" data-obj="{{stringObj}}">
                        <td>
                            {{#if image}}
                            <img src="{{image}}" class="img-thumbnail" alt="article thumb">
                            {{else}}
                            <img src="assets/images/default.jpg" class="img-thumbnail" alt="default thumb">
                            {{/if}}
                        </td>
                        <td>
                            <p>{{section}}</p>
                            <a href="{{link}}">{{headline}}</a>
                            <p>{{{summary}}}</p>
                        </td>
                        <td class="align-middle">
                            <button class="btn btn-primary w-100 mb-2 notes-btn" data-id="{{_id}}">Comments</button>
                            <button class="btn btn-danger w-100 article-delete" data-id="{{_id}}">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            No saved articles
            {{/if}}
        </div>
    </div>
</div>

<div class="modal fade" id="comments">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="comment-div">
                    <p>No comments</p>
                </div>
                <form id="comment-form">
                    <textarea class="form-control mb-2" placeholder="Write a new comment" name="comment" id="" cols="30" rows="10" required></textarea>
                    <input type="submit" class="btn btn-primary" value="submit">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="cancel">
                </form>
            </div>
            {{!-- <div class="modal-footer"></div> --}}
        </div>
    </div>
</div>